In [4]:
import streamlit as st
import numpy as np 
import pandas as pd 

st.title('Akkey')
st.write('DataFrame')
df=pd.DataFrame({
    '1':[1,2,3,4],
    '2':[10,20,30,40]
})

2021-05-08 10:17:41.874 WARNING root:
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /Users/akihiroshirai/opt/anaconda3/lib/python3.8/site-packages/ipykernel_launcher.py [ARGUMENTS]

In [5]:
df

   1   2
0  1  10
1  2  20
2  3  30
3  4  40